@import "tailwindcss";


.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-fadeSlideUp {
  animation: fadeSlideUp 0.8s ease forwards;
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

.animate-slideUp {
  animation: slideUp 0.8s ease forwards;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

.animation-delay-500 {
  animation-delay: 0.5s;
}

.animation-delay-700 {
  animation-delay: 0.7s;
}

.animation-delay-1000 {
  animation-delay: 1s;
}